    body{        
        padding-top: 10px;
        padding-bottom: 40px;
		font-family: Arial, Helvetica, sans-serif;
		background-image: linear-gradient(to right, #54F0DB , #8A42B6);
    }
    .fixed-header{
        width: 100%;
        background-image: linear-gradient(to right, #54F0DB , #8A42B6);
		top: 0;
    }
	.fixed-footer{
        width: 100%;
        background-color:white;
		bottom: 0;
		
    }
    .container{
		left:100px;
        width: 100%;
        margin: 0 auto;
    }
    nav a{
        color: white;
        text-decoration: none;
        padding: 7px 12px;
        display: inline-block;
    }
	#border{
	border: 1px solid white;
	border-radius: 30px;
	}
	.block {
  background-color: white;
  height: 500px;
  width: 150%;
	}
	
#left
{
width:30%;
height:300px;
float:left;
position:absolute;
background-color:#1575F0;
left:45px;
color:white;
}
#right
{
	width:29%;
	height:300px;
	position:absolute;
	float:center;
	left:945px;
	border:1px solid #D8DDE3;
}
#center{
	width:30%;
	height:300px;
	position:absolute;
	float:center;
	left:495px;
	border:1px solid #D8DDE3;
}
.block1 {
  background-color: white;
  height: 500px;
  width: 150%;
	}
